.banner_item {
    display: flex;
    flex-wrap: wrap;
    .inner {
        width: 200px;
        margin-right: 15px;
        margin-bottom: 15px;
        .inner_img {
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &.small {
        .inner {
            width: 100px;
            margin-right: 15px;
            margin-bottom: 15px;
            .inner_img {
                width: 100px;
                height: 56px;
                margin-bottom: 10px;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &.btn {
                flex-direction: column;
            }
        }
    }
}